@charset "ISO-8859-1";
	body{
		margin:0;
		padding:0;
		background-color:silver;
		font-family: 'Roboto Condensed', sans-serif;
	}
	#wrapper{
		height:100%;
		padding-top:12%;
		padding-bottom:12%;
	
	}
	#wrapper #maindiv{
		height:80%;
		width:50%;
		margin-left:25%;
		margin-right:25%;
		text-align:center;
	}
	#bottomdiv{
		background-color:#ff4d4d;
		height:20%;
	}
	#loginDiv{
		text-align:left;
		width:50%;
		padding-left:19%;
		margin-left:20%;
		
	}

	
	
	@media screen and (max-width: 600px) {
	    body {
	        margin:0;
			padding:0;
	    }
	    #maindiv #guest{
			
		}
		#maindiv #register{
			
		}
	}
	
}