@CHARSET "ISO-8859-1";
body{
	background-color: silver;
}
#indexMainPanel{
	background-color: yellow;
}
#guest{
	text-align:right;
}
#register{
	text-align:left;
}
	@media screen and (max-width: 600px) {
	    body {
	        margin:0;
			padding:0;
	    }
	  #guest{
			
		}
	  #register{
			
		}
	}
